<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miteng.strive.dao.PersonMapper">
    <select id="findPersonById" resultType="com.miteng.strive.pojo.Person">
        select * from person where id = #{id}
    </select>
    <update id="updatePerson">
        update person set name = #{name}, age = #{age} where id = #{id}
    </update>
    <delete id="deletePerson">
        delete from person where id = #{id}
    </delete>
    <insert id="addPerson">
        insert into person (name, age) values (#{name}, #{age})
    </insert>
</mapper>